[submodule "Serie01"]
	path = Serie01
	url = git@gitlab.unige.ch:Noah.Munz/ofm-exercise-1.git
[submodule "TP01"]
	path = TP01
	url = git@gitlab.unige.ch:Noah.Munz/12-x-005-ofm-homework-1.git
[submodule "TP02"]
	path = TP02
	url = git@gitlab.unige.ch:Noah.Munz/ofm-homework-2.git
[submodule "Serie04"]
	path = Serie04
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-04.git
[submodule "Serie03"]
	path = Serie03
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-03.git
[submodule "Serie02"]
	path = Serie02
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-02.git
