[submodule "Serie01"]
	path = Serie01
	url = git@gitlab.unige.ch:Noah.Munz/ofm-exercise-1.git
[submodule "TP01"]
	path = TP01
	url = git@gitlab.unige.ch:Noah.Munz/12-x-005-ofm-homework-1.git
[submodule "TP02"]
	path = TP02
	url = git@gitlab.unige.ch:Noah.Munz/ofm-homework-2.git
[submodule "Serie04"]
	path = Serie04
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-04.git
[submodule "Serie03"]
	path = Serie03
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-03.git
[submodule "Serie02"]
	path = Serie02
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-02.git
[submodule "Serie05"]
	path = Serie05
	url = git@gitlab.unige.ch:smv-ofm/semestre-automne-2022/exercise-5.git
[submodule "TP03"]
	path = TP03
	url = git@gitlab.unige.ch:Noah.Munz/ofm-homework-3.git
[submodule "Serie06"]
	path = Serie06
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-06.git
[submodule "Serie07"]
	path = Serie07
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-07.git
[submodule "Serie08"]
	path = Serie08
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-08.git
[submodule "TP04"]
	path = TP04
	url = git@gitlab.unige.ch:Noah.Munz/ofm-homework-4.git
[submodule "Serie09"]
	path = Serie09
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-09.git
[submodule "Serie11"]
	path = Serie11
	url = git@gitlab.unige.ch:Noah.Munz/ofm-serie-11.git
[submodule "TP05"]
	path = TP05
	url = git@gitlab.unige.ch:Noah.Munz/ofm-homework-5.git
